Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
psycopg2-binary
django-environ
gunicorn
django-cloudinary-storage
cloudinary
Pillow>=11.2.0
pyTelegramBotAPI==4.22.1
loguru
redis
django-redis
requests>=2.31.0
urllib3>=2.0.0
certifi
pyopenssl
